ace-editor
analysis-core
ansicolor
ant
antisamy-markup-formatter
apache-httpcomponents-client-4-api
authentication-tokens
basic-branch-build-strategies
blueocean
blueocean-autofavorite
blueocean-bitbucket-pipeline
blueocean-commons
blueocean-config
blueocean-dashboard
blueocean-display-url
blueocean-events
blueocean-git-pipeline
blueocean-github-pipeline
blueocean-i18n
blueocean-jira
blueocean-jwt
blueocean-personalization
blueocean-pipeline-api-impl
blueocean-pipeline-editor
blueocean-pipeline-scm-api
blueocean-rest
blueocean-rest-impl
blueocean-web
bouncycastle-api
branch-api
build-name-setter
build-timeout
cloudbees-bitbucket-branch-source
cloudbees-folder
command-launcher
conditional-buildstep
config-file-provider
configurationslicing
credentials
credentials-binding
cucumber-reports
dependency-check-jenkins-plugin
display-url-api
docker-commons
docker-java-api
docker-plugin
docker-workflow
durable-task
email-ext
external-monitor-job
favorite
generic-webhook-trigger
git
git-client
git-server
github
github-api
github-branch-source
gitlab-plugin
gradle
greenballs
handlebars
htmlpublisher
http_request
jackson2-api
jacoco
javadoc
jdk-tool
jira
job-dsl
jquery
jquery-detached
jsch
junit
kubernetes
ldap
mailer
mapdb-api
matrix-auth
matrix-project
maven-plugin
mercurial
momentjs
nodejs
openshift-client
openshift-login
openshift-pipeline
openshift-sync
pam-auth
parameterized-trigger
performance
pipeline-aws
pipeline-build-step
pipeline-github-lib
pipeline-graph-analysis
pipeline-input-step
pipeline-milestone-step
pipeline-model-api
pipeline-model-declarative-agent
pipeline-model-definition
pipeline-model-extensions
pipeline-rest-api
pipeline-stage-step
pipeline-stage-tags-metadata
pipeline-stage-view
pipeline-utility-steps
plain-credentials
pubsub-light
rebuild
resource-disposer
role-strategy
run-condition
scm-api
script-security
sonar
sonar-quality-gates
sse-gateway
ssh-agent
ssh-credentials
ssh-slaves
structs
subversion
thinBackup
throttle-concurrents
timestamper
token-macro
variant
windows-slaves
workflow-aggregator
workflow-api
workflow-basic-steps
workflow-cps
workflow-cps-global-lib
workflow-durable-task-step
workflow-job
workflow-multibranch
workflow-scm-step
workflow-step-api
workflow-support
ws-cleanup